
body{
    background-color: rgb(224, 208, 208);
    direction: ltr;
    
}   


.container1{
    color: black;

}



.logo{
    padding-left: 85vh;
    width: 20vw;
    
}

.items{
 
    background-color: #de1a1a;
    text-align: start;
    display: flex;
    justify-content: space-between;
    color: rgb(248, 248, 246);
    list-style-type: none;
    width: 99vw;
    height:7vh ;
    direction: rtl;
    text-decoration:none;

}  
.items1{
        color: #ffffff;
}

.tab ,th{
    background-color: #b4c1ce9a;
    border-left-color: black;
    margin-top: -7vh;
    border: 1px solid black;
    
}

.para1{
    text-align: right;

}

.smalltext{
        text-align: right;
        font-style:unset;
        display:;

}
.smalltext2{
    text-align: right;
    font-style: inherit;
    
}

.police{
        position: absolute;
        top: 62vh;
        width: 85vh;
        margin-top: auto;
        margin-top: -10vh;
        border-radius: 7vw;
        border-radius: 7vh;
    }

    .options{
        position: static;
        margin-left:15vh;
        margin-right: 0vh;

        
    }